.add-friend-container {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
}

.add-friend-form {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 2.5% 0 2.5%;
}

.add-friend-form input {
  padding: 2% 2%;
  border-radius: 15px;
  text-align: center;
}

.add-friend-form button {
  background-color: lightcoral;
  padding: 1.5% 2.5%;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 1px 1px 1px black;
  transition: all 0.4s ease-in-out;
  font-size: 1.3rem;
  font-family: monospace;
}

.add-friend-form button:hover {
  box-shadow: 3px 2px 1px black;
  transform: scale(1.05);
}
