.add-friend-container {
  border-bottom: 2px solid black;
  display: flex;
  justify-content: center;
}

.add-friend-form {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 2.5% 0 2.5%;
}

.add-friend-form input {
  padding: 2% 2%;
  border-radius: 15px;
  text-align: center;
}
